// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "small_carousel";

.bg-cream {
  background-color: rgb(255, 251, 230);
}

h1 {
  color: #018f01;
  font-weight: bold;
}
