.navbar-lewagon {
  justify-content: space-between;
  background: rgb(243, 156, 18);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .logo {
  height: 100px;
}

.container-fluid {
  height: 50px;
}
.title-navbar {
  color: #2db779;
  font-weight: bold;
  margin-bottom: 0;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
